.App {
  text-align: center;
  overflow-x: hidden;
}

.App-header {
  background: -webkit-linear-gradient(#49476D, #C06168, #FFA56C, #C69776); /* For Safari 5.1 to 6.0 */
  height: 100vh;
  width: 100vw;
  color: black;
}

.cloud {
  margin-top: -150px;
  position: absolute;
  align-items: center;
  -webkit-animation: scrollingBackground 40s linear infinite;
  z-index: 0;
}

@keyframes scrollingBackground {
  from{margin-left: -150vw;}
  to{margin-left: 50vw;}
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25vh;
  z-index: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
}

.navbar button{
  width: 130px;
  background-color: rgba(0,0,0,0);
  border: 1px solid rgba(0,0,0,0.7);
  margin-right: 40px;
  margin-top: 20px;
  font-size: 28px;
  font-weight: lighter;
  transition: 0.3s;
  color: rgba(0,0,0,1);
  outline: none;

}

.navbar button:hover {
  background-color: rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.5);
}

.top-page {
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
}
.top-page button {
  width: 130px;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid rgba(255,255,255,.7);
  margin-right: 40px;
  font-size: 28px;
  font-weight: lighter;
  transition: 0.3s;
  color: rgba(255,255,255,1);
  outline: none;

}

.App-intro {
  font-size: large;
}

.myName{
  font-size: 60px;
  font-weight: lighter;
}

.underline {
  position: absolute;
  margin-top: 35px;
  height: 0px;
  width: 100px;
  border-bottom: solid black 1px;
}

.myTitle{
  font-size: 24px;
  font-weight: lighter;
  margin-top: -10px;
}
