.gallery {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/sunset.jpeg');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  z-index: 2;
}
 .gallery-items {
   display: flex;
   flex-direction: row;
   align-items: center;
   align-content: center;
   justify-content: center;
   flex-wrap: wrap;
 }

 .gallery-elements {
   padding-top: 50px;
 }

 .title {
   margin-top: 0;
   padding-top: 40px;
   font-size: 36px;
   font-weight: lighter;
 }

  .gallery-items div {
    display: flex;
    flex-direction: column;
  }
  .gallery-items div p{
    font-size: 24px;
    font-weight: lighter;
  }

 .gallery-items div a {
   height: 140px;
   width: 250px;
   background-color: lightgrey;
   padding-top: 70px;
   margin-top: 3vh;
   margin-left: 25px;
   margin-right: 25px;
   text-decoration: none;
   color: rgba(255,255,255,0);
   transition: 0.5s;
   line-height: 25px;
 }

 .gallery-titles{
   position:absolute;
   margin-top: 150px;
   list-style-type: none;
   display: flex;
 }
 .gallery-titles li{
   margin-left: 75px;
   margin-right: 75px;
   font-size: 24px;
   font-weight: lighter;
 }

 .recipe-link {
   background-size: 490px 420px;
   background-position: center;
   background-image: url('../images/cuttingboard.jpg');
 }

 .weather {
   background-size: 600px 420px;
   background-position: center;
   background-image: url('../images/weather.jpg');
 }

 .fishhawk {
   background-size: 570px 420px;
   background-position: center;
   background-image: url('../images/fishhawk.jpg');
 }

 .gallery-items a:hover{
     box-shadow: inset 0px 0px 1000px 1000px rgba(0,0,0,.5);
     color: rgba(255,255,255,1);
     line-height: 25px;
 }
