.App {
  text-align: center;
}

.App-header {
  background-color: #9BF6FF;
  height: 100vh;
  width: 100vw;
  color: black;
}

.cloud {
  margin-top: -450px;
  position: fixed;
  align-items: center;
  -webkit-animation: scrollingBackground 60s linear infinite;
}

@keyframes scrollingBackground {
  from{margin-left: -150vw;}
  to{margin-left: 50vw;}
}

.header-title {
  padding-top: 37vh;
}

.App-intro {
  font-size: large;
}

.myName{
  font-size: 48px;
}

.myTitle{
  font-size: 24px;
}
